<template>
  <div class="border-b border-solid border-brand-gray-1 py-5">
    <div
      class="flex cursor-pointer flex-wrap items-center justify-between"
      role="button"
      @click="toggle"
    >
      <h3 class="text-base font-semibold">{{ title }}</h3>

      <FontAwesomeIcon :icon="caretIcon" />
    </div>

    <div v-if="isOpen" class="mt-5 w-full">
      <slot>No content provided</slot>
    </div>
  </div>
</template>

<script setup>
import { ref, computed } from 'vue'

defineProps({
  title: {
    type: String,
    required: true,
  },
})

const isOpen = ref(false)

const toggle = () => {
  isOpen.value = !isOpen.value
}

const caretIcon = computed(() => {
  return isOpen.value ? ['fas', 'angle-up'] : ['fas', 'angle-down']
})
</script>
