<template>
  <section class="mb-16">
    <h1 class="mb-14 select-none text-8xl font-bold tracking-tighter">
      <span :class="[actionClass, 'dynamic']" :data-before="nextAction"></span>
      <br />
      for everyone
    </h1>
    <h2 class="text-3xl font-light">{{ subtitle }}</h2>
  </section>
</template>

<script>
import nextElementInList from '@/utils/nextElementInList'

export default {
  name: 'AnimatedHeadline',

  data() {
    return {
      action: 'Build',
      nextAction: 'Build',
      actions: ['Build', 'Create', 'Design', 'Develop', 'Code'],
      changeActionInterval: null,
      subtitle: 'Find your next job at RDL',
    }
  },

  computed: {
    actionClass() {
      return this.action.toLowerCase()
    },
  },

  created() {
    this.changeAction()
  },

  beforeUnmount() {
    clearInterval(this.changeActionInterval)
  },

  methods: {
    changeAction() {
      this.changeActionInreval = setInterval(() => {
        this.nextAction = nextElementInList(this.actions, this.action)

        this.action = this.nextAction
      }, 3000)
    },
  },
}
</script>

<style scoped>
.build {
  color: #1a73e8;
}

.create {
  color: #fbbc05;
}

.design {
  color: #34a853;
}

.develop {
  color: #ea4335;
}

.code {
  color: #07c79a;
}
</style>
