<template>
  <main class="flex h-screen flex-col">
    <section class="py-40">
      <div class="grid grid-cols-12">
        <div class="col-span-1 col-start-1"></div>
        <div class="col-span-5 col-start-2">
          <AnimatedHeadline />
          <JobSearchForm />
        </div>
        <div class="relative col-span-5 col-start-7 select-none">
          <img
            id="animated-img"
            class="absolute left-1/2 top-0 h-96 w-96 -translate-x-1/2 rounded-full object-cover shadow-xl"
            :src="image"
            :alt="alt"
          />

          <img
            id="animated-img"
            :class="[
              'absolute left-1/2 top-0 h-96 w-96 -translate-x-1/2 rounded-full object-cover transition-opacity duration-500',
              animateOpacity,
            ]"
            :src="nextImage"
            :alt="alt"
          />
        </div>
        <div class="col-span-1 col-start-12"></div>
      </div>
    </section>

    <SpotLight class="flex flex-row justify-center pb-16">
      <template #default="{ img, title, description }">
        <RouterLink
          to="/jobs/results"
          class="mx-5 flex h-96 w-72 flex-col overflow-hidden rounded-lg border bg-brand-gray-2"
        >
          <img :src="img" alt="" class="object-contain" />

          <div class="mt-3 h-48 px-6 py-4">
            <h3 class="text-lg font-medium">{{ title }}</h3>

            <p class="mt-3 text-sm">{{ description }}</p>
          </div>

          <RouterLink to="/jobs/results" class="px-6 pb-4 text-sm text-brand-blue-1"
            >See Jobs</RouterLink
          >
        </RouterLink>
      </template>
    </SpotLight>
  </main>
</template>

<script>
import AnimatedHeadline from '@/components/JobSearch/AnimatedHeadline.vue'
import JobSearchForm from '@/components/JobSearch/JobSearchForm.vue'
import nextElementInList from '@/utils/nextElementInList'

import SpotLight from '@/components/JobSearch/SpotLight.vue'

export default {
  name: 'HeroSection',

  components: {
    AnimatedHeadline,
    JobSearchForm,
    SpotLight,
  },

  data() {
    return {
      showImage: false,
      image:
        'https://images.pexels.com/photos/5749818/pexels-photo-5749818.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
      alt: 'hipster programming on a macbook',
      nextImage:
        'https://images.pexels.com/photos/5749818/pexels-photo-5749818.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
      images: [
        'https://images.pexels.com/photos/5749818/pexels-photo-5749818.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
        'https://images.pexels.com/photos/4974914/pexels-photo-4974914.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
        'https://images.pexels.com/photos/4974920/pexels-photo-4974920.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
        'https://images.pexels.com/photos/4974915/pexels-photo-4974915.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
        'https://images.pexels.com/photos/5240544/pexels-photo-5240544.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
      ],
      changeImageInterval: null,
    }
  },

  computed: {
    animateOpacity() {
      return {
        'opacity-0': !this.showImage,
        'opacity-100': this.showImage,
      }
    },
  },

  created() {
    this.changeImage()
  },

  beforeUnmount() {
    clearInterval(this.changeImageInterval)
  },

  methods: {
    changeImage() {
      this.changeImageInreval = setInterval(() => {
        this.nextImage = nextElementInList(this.images, this.image)
        this.showImage = true

        setTimeout(() => {
          this.image = this.nextImage
        }, 300)

        setTimeout(() => {
          this.showImage = false
        }, 600)
      }, 3000)
    },
  },
}
</script>

<style scoped>
.hidden {
  opacity: 0;
}

#animated-img {
  z-index: -1000;
}
</style>
