<template>
  <form
    class="flex h-12 w-full items-center rounded-3xl border border-brand-gray-3"
    @submit.prevent="searchJobs"
  >
    <FontAwesomeIcon class="px-4" :icon="['fas', 'search']" />

    <div class="flex h-full flex-1 flex-nowrap text-base font-light">
      <div class="relative flex h-full flex-1 items-center pr-3">
        <label for="job-title" class="absolute -top-8 left-0 bg-white px-3">Role</label>
        <TextInput id="job-title" v-model="jobTitle" placeholder="Software engineer" />
      </div>

      <span class="flex h-full items-center border-x border-brand-gray-3 bg-brand-gray-2 px-3"
        >in
      </span>

      <div class="relative flex h-full flex-1 items-center pl-3">
        <label for="location" class="absolute -top-8 left-3 bg-white px-3">Where?</label>
        <TextInput id="location" v-model="location" placeholder="Prague, Czechia" />
      </div>
    </div>

    <ActionButton class="rounded-r-3xl" type="secondary" text="Search" />
  </form>
</template>

<script setup>
import { ref } from 'vue'
import { useRouter } from 'vue-router'

import ActionButton from '@/components/Shared/ActionButton.vue'
import TextInput from '@/components/Shared/TextInput.vue'

const jobTitle = ref('')
const location = ref('')

const router = useRouter()

const searchJobs = () => {
  router.push({
    name: 'JobResults',
    query: {
      jobTitle: jobTitle.value,
      location: location.value,
    },
  })
}
</script>

<style scoped>
label {
  transition: transform 0.1s ease-in-out;
}
</style>
