<template>
  <header :class="['w-full', 'text-sm', headerHeightClass]">
    <div class="fixed left-0 top-0 h-16 w-full bg-white">
      <div
        class="mx-auto flex h-full flex-nowrap items-center border-b border-solid border-brand-gray-1 px-8"
      >
        <RouterLink :to="{ name: 'Home' }" class="text-xl font-semibold">RDL Careers</RouterLink>

        <nav class="ml-12">
          <ul class="flex list-none">
            <li v-for="menuItem in menuItems" :key="menuItem.name" class="ml-9 first:ml-0">
              <!-- vue router link -->
              <RouterLink :to="menuItem.url" class="flex">
                {{ menuItem.name }}
              </RouterLink>
            </li>
          </ul>
        </nav>

        <div class="ml-auto">
          <ProfileImg v-if="isLoggedIn" @click="logout" />
          <ActionButton v-else text="Sign In" @click="login" />
        </div>
      </div>

      <SubNav v-if="isLoggedIn" />
    </div>
  </header>
</template>

<script>
import ActionButton from '@/components/Shared/ActionButton.vue'
import ProfileImg from '@/components/Navigation/ProfileImg.vue'
import SubNav from '@/components/Navigation/SubNav.vue'

import { mapActions, mapState } from 'pinia'
import { useUserStore } from '@/stores/user'

export default {
  name: 'MainNav',
  components: {
    ActionButton,
    ProfileImg,
    SubNav,
  },

  data() {
    return {
      menuItems: [
        { name: 'Teams', url: '/teams' },
        { name: 'Location', url: '/location' },
        { name: 'Life at RDL', url: '/' },
        { name: 'Students', url: '/' },
        { name: 'Hiring', url: '/' },
        { name: 'Jobs', url: '/jobs/results' },
      ],
    }
  },

  computed: {
    ...mapState(useUserStore, ['isLoggedIn']),
    headerHeightClass() {
      return {
        'h-16': !this.isLoggedIn,
        'h-32': this.isLoggedIn,
      }
    },
  },

  methods: {
    ...mapActions(useUserStore, ['login', 'logout']),
  },
}
</script>
