<template>
  <img
    :src="url"
    class="h-8 w-8 cursor-pointer rounded-3xl object-cover"
    alt="user profile picture"
  />
</template>

<script>
export default {
  name: 'ProfileImg',
  data() {
    return {
      url: 'https://media.licdn.com/dms/image/D4E03AQGXUb4SxC277w/profile-displayphoto-shrink_800_800/0/1670501696051?e=1689811200&v=beta&t=-PqDwWxCLYECBMUxfDbbdxykbGH6tFAfMTQFWRCqUiI',
    }
  },
}
</script>
