<template>
  <HeroSection />
</template>

<script>
import HeroSection from '@/components/JobSearch/HeroSection.vue'

export default {
  name: 'HomeView',

  components: {
    HeroSection,
  },
}
</script>
