<template>
  <h1>Job View for {{ currentJobId }}</h1>
</template>

<script>
export default {
  name: 'JobView',
  computed: {
    currentJobId() {
      return this.$route.params.id
    }
  }
}
</script>
