<template>
  <HeaderContainer>
    <template #title>
      <h1 class="text-4xl font-normal">Location</h1>
    </template>
    <template #subtitle>
      <h2 class="my-4 text-base font-light">We are located everywhere. Find us in your city.</h2>
    </template>
  </HeaderContainer>
</template>

<script>
import HeaderContainer from '@/components/Shared/HeaderContainer.vue'

export default {
  name: 'LocationView',

  components: {
    HeaderContainer,
  },
}
</script>
