<template>
  <HeaderContainer>
    <template #title>
      <h1 class="text-4xl font-normal">Teams</h1>
    </template>
    <template #subtitle>
      <h2 class="my-4 text-base font-light">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus.
      </h2>
    </template>
  </HeaderContainer>
</template>

<script>
import HeaderContainer from '@/components/Shared/HeaderContainer.vue'

export default {
  name: 'TeamsView',

  components: {
    HeaderContainer,
  },
}
</script>
