@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slidein {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }

  10% {
    transform: translateY(0);
    opacity: 1;
  }

  90% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(50%);
    opacity: 0;
  }
}

@layer utilities {
  .dynamic::before {
    content: attr(data-before);
    display: block;
    position: absolute;
    left: 0;
    animation: slidein 3s infinite;
  }

  .dynamic {
    position: relative;
    overflow: hidden;
    z-index: -1000;
  }
}
